rqt_top==0.4.10
rqt_graph==0.4.14
qt-gui-py-common==0.4.2
roslaunch==1.16.0
rqt-logger-level==0.4.12
genpy==0.6.15
rqt-runtime-monitor==0.5.10
rqt_launch==0.4.9
rqt_srv==0.4.9
gazebo_ros==2.9.2
qt-gui==0.4.2
trac_ik_python==1.6.6
sensor-msgs==1.13.1
rqt_gui_py==0.5.3
topic-tools==1.16.0
interactive-markers==1.12.0
catkin==0.8.10
rqt_py_console==0.4.10
rqt-robot-dashboard==0.5.8
rosservice==1.16.0
rqt-reconfigure==0.5.5
smclib==1.8.6
gennodejs==2.0.2
rqt_pose_view==0.5.11
qt-dotgraph==0.4.2
geneus==3.0.0
controller-manager-msgs==0.20.0
actionlib==1.14.0
rosclean==1.15.8
qt-gui-cpp==0.4.2
rosnode==1.16.0
diagnostic-updater==1.11.0
rqt_bag_plugins==0.5.1
rosboost-cfg==1.15.8
joint-state-publisher==1.15.1
smach-ros==2.5.2
rqt_shell==0.4.11
moveit-ros-planning-interface==1.1.16
genmsg==0.6.0
rqt-robot-monitor==0.5.15
image-geometry==1.16.2
tf2-py==0.7.7
rqt_action==0.4.9
angles==1.9.13
rosmaster==1.16.0
roscreate==1.15.8
urdfdom-py==0.4.6
rqt_web==0.4.10
rqt_bag==0.5.1
rqt-moveit==0.5.11
rqt_py_common==0.5.3
rostest==1.16.0
rosmake==1.15.8
python-qt-binding==0.4.4
tf2-kdl==0.7.7
bondpy==1.8.6
diagnostic-analysis==1.11.0
rosparam==1.16.0
tf2-ros==0.7.10
gazebo_plugins==2.9.2
tf==1.13.4
rqt_publisher==0.4.10
camera-calibration==1.17.0
rqt_service_caller==0.4.10
rqt_plot==0.4.13
rqt_gui==0.5.3
tf-conversions==1.13.2
rqt-tf-tree==0.6.4
rosmsg==1.16.0
roswtf==1.16.0
camera-calibration-parsers==1.12.0
rospy==1.16.0
rqt-rviz==0.7.0
moveit-ros-visualization==1.1.16
roslint==0.12.0
tf2-geometry-msgs==0.7.7
smach==2.5.2
roslib==1.15.8
rostopic==1.16.0
genlisp==0.4.18
rqt-image-view==0.4.17
rqt_topic==0.4.13
xacro==1.14.18
gencpp==0.7.0
cv-bridge==1.16.2
rqt_nav_view==0.5.7
rqt_robot_steering==0.5.12
rosbag==1.16.0
rqt-console==0.4.12
rqt_dep==0.4.12
rqt_msg==0.4.10
rqt-multiplot==0.0.12
message-filters==1.16.0
rviz==1.14.25
laser_geometry==1.6.7
roslz4==1.16.0
controller-manager==0.20.0
rosunit==1.15.8
resource_retriever==1.12.7
moveit-core==1.1.14
dynamic-reconfigure==1.7.3
diagnostic-common-diagnostics==1.11.0
rosgraph==1.16.0
joint-state-publisher-gui==1.15.1
srdfdom==0.6.4
autobahn==23.1.2
ftfy==6.1.3
ptyprocess==0.7.0
h5py==3.11.0
Markdown==3.5.2
pandocfilters==1.5.1
jupyter==1.1.1
pydantic_core==2.16.3
kiwisolver==1.4.5
aiohttp==3.10.11
setuptools==75.3.4
asttokens==2.4.1
Rtree==1.2.0
debugpy==1.8.1
murmurhash==1.0.10
pandas==2.0.0
PyWavelets==1.4.1
matplotlib==3.3.4
mistune==3.0.2
referencing==0.33.0
soupsieve==2.5
pexpect==4.9.0
toml==0.10.2
jupyter-ydoc==0.2.5
pycparser==2.21
pillow==10.2.0
jsonschema-specifications==2023.12.1
torch-dct==0.1.6
idna==3.4
urllib3==2.2.1
zipp==3.17.0
Pygments==2.17.2
pydantic==2.6.3
simpervisor==1.0.0
jupyter_packaging==0.12.3
trimesh==4.1.8
jupyter_core==5.7.1
argon2-cffi==23.1.0
jsonschema==4.21.1
vpython==7.6.5
joblib==1.3.2
protobuf==4.25.3
y-py==0.6.2
Babel==2.14.0
nbclassic==1.0.0
tomli==2.0.1
pytorch3d==0.7.5
tabulate==0.9.0
google-auth-oauthlib==1.0.0
seaborn==0.13.0
nbclient==0.9.0
gitdb==4.0.11
lazy_loader==0.4
notebook_shim==0.2.4
tinycss2==1.2.1
websocket-client==1.7.0
MarkupSafe==2.1.5
omegaconf==2.3.0
jupyter_server_terminals==0.5.2
psutil==5.9.8
portalocker==2.8.2
shtab==1.7.1
torchaudio==2.1.0+cu118
tensorboard==2.14.0
importlib_metadata==7.0.2
frozenlist==1.5.0
appdirs==1.4.4
thinc==7.4.6
scikit-learn==1.2.2
nbconvert==7.16.2
jupyter_server_proxy==4.4.0
pyasn1-modules==0.3.0
iopath==0.1.9
defusedxml==0.7.1
pkgutil_resolve_name==1.3.10
ipython==8.12.3
plac==1.1.3
termcolor==2.4.0
grpcio==1.62.0
json5==0.9.22
txaio==23.1.1
cachetools==5.3.3
tifffile==2023.7.10
fastjsonschema==2.19.1
rfc3986-validator==0.1.1
executing==2.0.1
tyro==0.8.3
pyrender==0.1.45
pynavmesh==1.2.3
anyio==4.3.0
loralib==0.1.2
open3d==0.13.0
pickleshare==0.7.5
wheel==0.45.1
mesh2sdf==1.1.0
imageio==2.34.0
wcwidth==0.2.13
ninja==1.13.0
notebook==6.5.6
comm==0.2.1
pkg_resources==0.0.0
httpcore==1.0.4
pyasn1==0.5.1
Jinja2==3.1.3
absl-py==2.1.0
distro==1.9.0
jupyterlab_server==2.25.3
jupyterlab_pygments==0.3.0
six==1.16.0
jupyter-events==0.9.0
addict==2.4.0
typing_extensions==4.10.0
pure-eval==0.2.2
wasabi==0.10.1
ipython-genutils==0.2.0
tqdm==4.66.2
sniffio==1.3.1
cymem==2.0.8
mdurl==0.1.2
openai==1.13.3
jsonpointer==2.4
jupyterlab_widgets==3.0.10
pyzmq==24.0.1
threadpoolctl==3.3.0
setproctitle==1.3.3
parso==0.8.3
cryptography==43.0.3
prompt-toolkit==3.0.43
jedi==0.19.1
filelock==3.13.1
smmap==5.0.1
jupyterlab_vpython==3.1.8
spacy==2.3.4
PyOpenGL==3.1.0
webcolors==1.13
sentry-sdk==2.57.0
pip==25.0.1
sympy==1.12
blis==0.7.11
pytz==2024.1
docstring_parser==0.16
click==8.1.7
numpy==1.21.5
exceptiongroup==1.2.0
fsspec==2024.2.0
torch==2.1.0+cu118
hyperlink==21.0.0
chumpy==0.70
scipy==1.10.1
cycler==0.12.1
arrow==1.3.0
tomlkit==0.12.4
tornado==6.4.2
cffi==1.16.0
overrides==7.7.0
certifi==2024.2.2
rpds-py==0.18.0
blobfile==2.1.1
jupyter_client==7.4.9
widgetsnbextension==4.0.10
python-dateutil==2.9.0
entrypoints==0.4
networkx==3.1
Brotli==1.1.0
pycryptodomex==3.20.0
bleach==6.1.0
torchvision==0.16.0+cu118
backcall==0.2.0
GitPython==3.1.43
markdown-it-py==3.0.0
attrs==23.2.0
traitlets==5.14.1
srsly==1.0.7
hydra-core==1.3.2
regex==2023.12.25
nest-asyncio==1.6.0
aiohappyeyeballs==2.4.3
deprecation==2.1.0
packaging==23.2
rsa==4.9
rich==13.7.1
aiosignal==1.3.1
uri-template==1.3.0
matplotlib-inline==0.1.6
smplx==0.1.28
aiosqlite==0.20.0
google-auth==2.28.1
shapely==2.0.4
mpmath==1.3.0
ipywidgets==8.1.2
yarl==1.15.2
requests==2.31.0
yacs==0.1.8
PyYAML==6.0.1
aiofiles==22.1.0
jupyter_server_fileid==0.9.1
tensorboard-data-server==0.7.2
prometheus_client==0.20.0
pyparsing==3.1.2
types-python-dateutil==2.8.19.20240106
oauthlib==3.2.2
rfc3339-validator==0.1.4
tensorboardX==2.6.2.2
importlib_resources==6.1.3
decorator==5.1.1
jupyter_server_ydoc==0.8.0
async-timeout==5.0.1
python-json-logger==2.0.7
Werkzeug==3.0.1
Send2Trash==1.8.2
httpx==0.27.0
lxml==4.9.4
clip==1.0
statsmodels==0.13.5
charset-normalizer==3.3.2
catalogue==1.0.2
antlr4-python3-runtime==4.9.3
nbformat==5.9.2
patsy==0.5.6
ypy-websocket==0.8.4
requests-oauthlib==1.3.1
docker-pycreds==0.4.0
scikit-image==0.21.0
beautifulsoup4==4.12.3
jupyterlab==3.6.7
einops==0.7.0
multidict==6.1.0
eval-type-backport==0.1.3
platformdirs==4.2.0
h11==0.14.0
jupyter_server==2.13.0
colorama==0.4.6
annotated-types==0.6.0
preshed==3.0.9
argon2-cffi-bindings==21.2.0
wandb==0.24.2
tzdata==2025.3
PySocks==1.7.1
triton==2.1.0
propcache==0.2.0
ipykernel==6.29.3
fvcore==0.1.5.post20221221
jupyter-console==6.6.3
pooch==1.8.1
webencodings==0.5.1
isoduration==20.11.0
fqdn==1.5.1
terminado==0.18.0
freetype-py==2.4.0
pyglet==2.0.14
stack-data==0.6.3
